@import 'variables';
@import 'mixins';
@import 'mediaquerys';
.contenedorMain {
    height: calc(100vh + 36px);
    @include display (flex, column, center, center);
    .boxImg {
        text-align: center;
        img {
            max-width: 93%;
            height: auto;
            object-fit: cover;
        }
    }
    .boxText {
        height: 100%;
        @include display (flex, column, center, center);
        h1 {
            color: $primary;
            text-align: center;
            @include fonts ($font-primary, $font-size-exel, bold)
        }
        p {
            color: $secondary;
            @include fonts ($font-secondary, $font-size-xs, bold)
        }
        button {
            @include btn ($tertiary, 5px, transparent, 20px, $primary);
            @extend p;
        }
    }
}
.headerResena {
    width: 100%;
    padding: 20px 0;
    background-color: $tertiary;
    h2 {
        text-align: center;
        color: $primary;
        font-size: $font-size-exlarge;
        font-family: $font-secondary;
    }
} 
.contenedorCards {
    // height: 100vh;
    @include display (flex, column, center, center);
    .cCard {
        max-width: 320px;
        border: 1px solid $primary;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin: 10px;
        .person1, .person2, .person3 {
            height: 250px;
        }
        @each $img in person1, person2, person3 {
            .#{$img} {
                background-image: url("/assets/#{$img}.png");
                background-size: cover;
                background-position: center;
            }
        }
        .cardBody {
            height: 260px;
            @include display (flex, column, center, center);
            h2 {
                color: $primary;
                font-size: $font-size-medium;
                font-weight: bold;
                margin-bottom: 1px;
            }
            p {
                margin: 0;
                padding: 0 30px;
                font-size: $font-size-xs;
                font-family: $font-secondary;
                text-align: center;
            }
            button {
                @include btn ($tertiary, 5px, transparent, 20px, $primary);
                font-size: $font-size-xs;
                margin-bottom: 5px;
            }
        }
    }
}