@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 768px) {
    .contenedorMain {
        flex-direction: row-reverse;
        .boxImg {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .boxText {
            width: 50%;
            h1 {
                font-size: 4.1rem;
            }
            p {
                font-size: $font-size-medium;
                text-align: center;
            }
            button {
                font-size: $font-size-small;
            }
        }
    }
    .contenedorCards {
        flex-direction: row;
        .cCard {
            max-height: 470px;
            .cardBody {
                h2 {
                    font-size: $font-size-xs;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px){
    .carouselImgage {
        height: calc(100vh - -20px);
    }
    .bebidas {
        height: 230px;
        width: 100%;
        flex-direction: row;
    }
    .box {
        height: 150px;
        width: 150px;
        img {
            width: 100%;
        }
        h3 {
            font-size: $font-size-small;
        }
    }
    .comidas {
        height: 280px;
        width: 100%;
        flex-direction: row;
    }
    .contenedorOpciones {
        height: 100%;
        .boxImg {
            flex-direction: row;
            .img, .img2 {
                height: 50vh;
                width: 50vw;
            }
            .texto {
                height: 50vh;
                width: 50vw;
            }
        }
        .boxImg2 {
            flex-direction: row-reverse;
            .img, .img2 {
                height: 50vh;
                width: 50vw;
            }
            .texto2 {
                height: 50vh;
                width: 50vw;
            }
        }
    }
    .contenedorUbi {
        flex-direction: row;
        .boxUbi {
            flex-direction: row !important;
        }
    }
    .contenedor {
        flex-direction: row;
        .izquierda {
            width: 50%;
            .rectangulo {
                height: 100%;
            }
        }
        .derecha {
            width: 50%;
        }
    }
}