@import 'variables';
@import 'mixins';
.navbar-brand {
    margin-right: 0;
}
.navbar-nav {
    // height: 30px;
    width: 80%;
}
.nav-item {
    a {
        color: $secondary;
        text-transform: uppercase;
        @include fonts ($font-primary, .75rem, bold);
        &:hover {
            color: $primary;
        }
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: $primary;
            transition: width 0.3s ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
}
.navbar-left {
    width: 155px;
    display: flex;
    align-items: center;
    gap: 5px;
    i {
        font-size: $font-size-xs;
        color: rgb(255, 0, 0);
    }
    @extend .nav-item;
}