// COLORES
$primary: rgb(0, 117, 72);
$primary-op: rgb(30, 57, 50);
$secondary: rgb(0, 0, 0);
$secondary-op: rgb(51, 51, 51);
$tertiary: rgb(255, 255, 255);
$background-color: rgb(212, 233, 226);

// FUENTES
$font-primary: 'Montserrat'; 
$font-secondary: 'Mada';
$font-optional: 'Overpass';

// TAMAÑOS DE FUENTES
$font-size-xs: 1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;
$font-size-exlarge: 2rem;
$font-size-exel: 2.4rem;