@import 'general';
@import 'variables';
@import 'navbar';
@import 'mixins';
@import 'footer';

.bgImg1, .bgImg2, .bgImg3 {
    height: calc(100vh - 80px);
}
@each $carousel in bgImg1, bgImg2, bgImg3 {
    .#{$carousel} {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/#{$carousel}.webp");
        background-size: cover;
        background-position: center;
    }
}
.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
    h2 {
        font-size: $font-size-exel;
        font-weight: bold;
        color: $primary;
    }
    p {
        font-size: $font-size-small;
        font-family: $font-secondary;
        color: $tertiary;
        font-weight: bold;
        padding: 0 8px;
    }
}
.banner {
    height: 100px;
    @include display (flex, column, center, center);
    margin: 50px 10px 0px 10px;
    h2 {
        color: $primary;
        font-weight: bold;
    }
    p {
        margin: 0;
        @include fonts ($font-secondary, $font-size-xs, bold);
        text-align: center;
        color: $secondary-op;
    }
}
.bebidas {
    height: 800px;
    padding: 10px;
    @include display (flex, column, space-evenly, center);
}
.box {
    height: 190px;
    width: 190px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 8px solid $tertiary;
    background-color: $primary-op;
    transition: all .3s;
    h2 {
        margin-top: 10px;
        margin-bottom: 0;
    }
    &:hover {
        transform: scale(1.2);
        background-color: $tertiary;
    }
}
.border {
    width: 100%;
    @include display (flex, row, center, center);
    .rectangulo {
        height: 25px;
        width: 400px;
        border-radius: 4px 4px 22px 22px;
        background-color: $secondary-op;
        h2 {
            margin: 0;
            font-size: $font-size-medium;
            text-align: center;
            color: $tertiary;
        }
    }
}
.comidas {
    height: 580px;
    padding: 10px;
    @include display (flex, column, space-evenly, center);
    margin-bottom: 20px;
}
@import 'mediaquerys';