@import 'general';
@import 'variables';
@import 'navbar';
@import 'mixins';

.contenedorPrincipal {
    height: 250px;
    .bannerExp {
        width: 100%;
        background-color: $primary-op;
        h2 {
            padding: 20px;
            color: $tertiary;
            @include fonts ($font-primary, $font-size-exlarge, bold);
            text-align: center;
        }
    }
    .subTitulo {
        height: 120px;
        width: 100%;
        text-align: center;
        @include display (flex, column, center, center);
        p {
            margin: 0 20px;
            color: $primary-op;
            @include fonts ($font-secondary, $font-size-medium, bold);
        }
    }
}
.contenedorSecundario {
    .boxImg, .boxImg2 {
        height: 100%;
        @include display (flex, column, center, center);
        .img, .img2 {
            height: 300px;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .texto, .texto2 {
            height: 300px;
            width: 100%;
            background-color: #f2f0eb;
            @include display (flex, column, center, center);
            h2 {
                color: rgb(0, 120, 88);
                @include fonts ($font-primary, $font-size-exlarge, bold);
            }
            p {
                margin: 0 20px;
                color: $primary-op;
                text-align: center;
                @include fonts ($font-secondary, $font-size-small, bold);
            }
        }
    }
    .boxImg2 {
        @include display (flex, column, center, center);
    }
}
@import 'mediaquerys';
@import 'footer';









// .contenedorSecundario {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
//     .boxItem {
//         background-color: #3498db;
//         text-align: center;
//         aspect-ratio: 1/1;
//         img {
//             height: 100%;
//             width: 100%;
//             object-fit: cover;
//             object-position: center;
//         }
//     }
//     .texto {
//         height: 100%;
//         background-color: rgb(242, 240, 235);
//         @include display (flex, column, center, center);
//         aspect-ratio: 1/1;
//         h2 {
//             color: rgb(0, 120, 88);
//             font-size: $font-size-exlarge;
//             font-family: $font-primary;
//         }
//         p {
//             margin: 0 20px;
//             color: $primary-op;
//             text-align: center;
//             @include fonts ($font-secondary, $font-size-small, bold);
//         }
//     }
// }