@import 'variables';
/* FUENTES DE LA PÁGINA */

/* 
font-family: 'Montserrat';
font-family: 'Overpass';
font-family: 'Mada';
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    background-color: $background-color;
}
@import 'navbar';
