* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    background-color: rgb(212, 233, 226);
}

/* ---------------------------------------- */

/* NAVBAR */
.navbar-nav {
    width: 80%;
}
.navbar-nav li a, .navbar-left a{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-left {
    width: 155px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar-left i {
    font-size: 1rem;
    color: rgb(255, 0, 0);
}
/* CARRUSEL */

.carouselImgage {
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgImg1 {
    background-image: url(../assets/coffeeC.jpg);
}
.bgImg2 {
    background-image: url(../assets/coffeeIce.jpg);
}
.bgImg3 {
    background-image: url(../assets/frappuccinoC.jpg);
}
.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}
.carousel-caption h5 {
    font-size: 2.25rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: rgb(0, 120, 88);
}
.carousel-caption p {
    font-size: 1.1rem;
    font-family: 'Mada';
    color: rgb(255, 255, 255);
}

/* .contenidoPrincipal {
    height: auto;
}
.contenidoCentrado {
    height: inherit;
    width: 70%;
    margin: 0 auto;
}
.titulo {
    padding: 60px 0;
}
.titulo h2 {
    color: rgb(0, 120, 88);
    font-size: 1.7rem;
    font-family: 'Montserrat';
}
.titulo p {
    color: rgb(97, 97, 97);
    font-size: 1rem;
    font-family: 'Mada';
    font-weight: 900;
}
.bebidas p, .comidas p {
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    font-size: .9rem;
    font-family: 'Montserrat';
    font-weight: 900;
}
.contenidoBebidas, .contenidoComidas {
    margin: 50px 0;
    text-align: center;
}
.box {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: 20px 60px;
    padding: 20px;
    background-color: rgb(30, 57, 50);
    border-radius: 50%;
}
.box img {
    height: 140px;
    width: 140px;
}
.box h2 {
    margin: 40px 0;
    color: rgb(0, 0, 0);
    font-size: .9rem;
    font-family: 'Montserrat';
} */

/* ---------------------------------------- */

.redesContenedores {
    height: 80px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 20px 0;
}
.redesContenedores a {
    text-decoration: none;
    font-size: 1.4rem;
    margin: auto 20px;
    color: rgb(255, 255, 255);
}
.redesTexto {
    color: rgb(255, 255, 255);
    font-size: .7rem;
    padding-top: 5px;
    font-family: 'Overpass';
}