* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: rgb(212, 233, 226);
}

.navbar-brand {
  margin-right: 0;
}

.navbar-nav {
  width: 80%;
}

.nav-item a, .navbar-left a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: bold;
}
.nav-item a:hover, .navbar-left a:hover {
  color: rgb(0, 117, 72);
}
.nav-item a::after, .navbar-left a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgb(0, 117, 72);
  transition: width 0.3s ease-in-out;
}
.nav-item a:hover::after, .navbar-left a:hover::after {
  width: 100%;
}

.navbar-left {
  width: 155px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar-left i {
  font-size: 1rem;
  color: rgb(255, 0, 0);
}

.contenedorPrincipal {
  height: 250px;
}
.contenedorPrincipal .bannerExp {
  width: 100%;
  background-color: rgb(30, 57, 50);
}
.contenedorPrincipal .bannerExp h2 {
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.contenedorPrincipal .subTitulo {
  height: 120px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorPrincipal .subTitulo p {
  margin: 0 20px;
  color: rgb(30, 57, 50);
  font-family: "Mada";
  font-size: 1.4rem;
  font-weight: bold;
}

.contenedorSecundario .boxImg, .contenedorSecundario .boxImg2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorSecundario .boxImg .img, .contenedorSecundario .boxImg .img2, .contenedorSecundario .boxImg2 .img, .contenedorSecundario .boxImg2 .img2 {
  height: 300px;
  width: 100%;
}
.contenedorSecundario .boxImg .img img, .contenedorSecundario .boxImg .img2 img, .contenedorSecundario .boxImg2 .img img, .contenedorSecundario .boxImg2 .img2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.contenedorSecundario .boxImg .texto, .contenedorSecundario .boxImg .texto2, .contenedorSecundario .boxImg2 .texto, .contenedorSecundario .boxImg2 .texto2 {
  height: 300px;
  width: 100%;
  background-color: #f2f0eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorSecundario .boxImg .texto h2, .contenedorSecundario .boxImg .texto2 h2, .contenedorSecundario .boxImg2 .texto h2, .contenedorSecundario .boxImg2 .texto2 h2 {
  color: rgb(0, 120, 88);
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
}
.contenedorSecundario .boxImg .texto p, .contenedorSecundario .boxImg .texto2 p, .contenedorSecundario .boxImg2 .texto p, .contenedorSecundario .boxImg2 .texto2 p {
  margin: 0 20px;
  color: rgb(30, 57, 50);
  text-align: center;
  font-family: "Mada";
  font-size: 1.2rem;
  font-weight: bold;
}
.contenedorSecundario .boxImg2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .contenedorMain {
    flex-direction: row-reverse;
  }
  .contenedorMain .boxImg {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedorMain .boxText {
    width: 50%;
  }
  .contenedorMain .boxText h1 {
    font-size: 4.1rem;
  }
  .contenedorMain .boxText p {
    font-size: 1.4rem;
    text-align: center;
  }
  .contenedorMain .boxText button {
    font-size: 1.2rem;
  }
  .contenedorCards {
    flex-direction: row;
  }
  .contenedorCards .cCard {
    max-height: 470px;
  }
  .contenedorCards .cCard .cardBody h2 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .carouselImgage {
    height: calc(100vh + 20px);
  }
  .bebidas {
    height: 230px;
    width: 100%;
    flex-direction: row;
  }
  .box {
    height: 150px;
    width: 150px;
  }
  .box img {
    width: 100%;
  }
  .box h3 {
    font-size: 1.2rem;
  }
  .comidas {
    height: 280px;
    width: 100%;
    flex-direction: row;
  }
  .contenedorSecundario {
    height: 100%;
  }
  .contenedorSecundario .boxImg {
    flex-direction: row;
  }
  .contenedorSecundario .boxImg .img, .contenedorSecundario .boxImg .img2 {
    height: 50vh;
    width: 50vw;
  }
  .contenedorSecundario .boxImg .texto {
    height: 50vh;
    width: 50vw;
  }
  .contenedorSecundario .boxImg2 {
    flex-direction: row-reverse;
  }
  .contenedorSecundario .boxImg2 .img, .contenedorSecundario .boxImg2 .img2 {
    height: 50vh;
    width: 50vw;
  }
  .contenedorSecundario .boxImg2 .texto2 {
    height: 50vh;
    width: 50vw;
  }
}
.redesContenedores {
  height: 85px;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(51, 51, 51);
}
.redesContenedores a {
  margin: auto 20px;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.redesContenedores a:hover {
  color: rgb(0, 117, 72);
}
.redesContenedores p {
  margin: 0;
  font-size: 0.8rem;
}

.redesTexto {
  color: rgb(255, 255, 255);
  font-family: "Overpass";
  font-size: 1rem;
}

/*# sourceMappingURL=expdc.css.map */
