* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    background-color: rgb(212, 233, 226);
}

/* ---------------------------------------- */

#header {
    padding: 15px 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    box-shadow: 5px 0px 18px rgba(0, 0, 0, .3);
}
.navbarIzquierdo {
    float: left;
    text-align: left;
    width: 100%;
}
.navbarIzquierdo ul, .navbarIzquierdo li {
    display: inline;
}
.navbarIzquierdo a, .navbarDerecho a {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: .7rem;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
}
.navbarIzquierdo ul li a {
    margin: 0 30px;
}
.navbarDerecho a:hover, .navbarIzquierdo a:hover  {
    text-decoration: underline;
}
.navbarDerecho {
    float: right;
    text-align: right;
    margin-right: 20px;
}
.navbarDerecho i {
    font-size: .8rem;
    color: rgb(255, 0, 0);
}

/* ---------------------------------------- */

.contenedorPrincipal {
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background-color: rgb(30, 57, 50);
}
.box1 { 
    text-align: center;
}
.box1 h2 {
    color: rgb(255, 255, 255);
    padding: 20px 0 20px 0;
    font-size: 2rem;
    font-family: 'Montserrat';
}
iframe {
    padding: 0 20px 0 20px;
    height: 300px;
    width: 100%;
}

/* ---------------------------------------- */

.contenedorSecundario {
    height: 320px;
}
.mejoresLugares {
    margin-top: 20px;
    text-align: center;
}
.mejoresLugares h2 {
    color: rgb(30, 57, 50);
    padding: 20px 0 20px 0;
    font-size: 2rem;
    font-family: 'Montserrat';
}
.boxLugares {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: 20px 60px;
    padding: 20px;
    background-color: rgb(30, 57, 50);
    border-radius: 50%;
}
.boxLugares img {
    border-radius: 50%;
}

/* ---------------------------------------- */

.redesContenedores {
    height: 100px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 35px 0;
}
.redesContenedores a {
    text-decoration: none;
    font-size: 1.4rem;
    margin: auto 20px;
    color: rgb(255, 255, 255);
}
.redesTexto {
    color: rgb(255, 255, 255);
    font-size: .7rem;
    padding-top: 5px;
    font-family: 'Overpass';
}

/* ---------------------------------------- */